.app {
  background-color: #1e1e1e;
  color: #dcdcdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Consolas, "Courier New", monospace;
}

.header {
  color: #f4f4f4;
  margin: 20px 0;
  font-size: 2rem;
}

.textarea {
  background: #1e1e1e;
  border: 1px green;
  box-shadow: 0 0 8px green;
  color: #dcdcdc;
  border: 1px solid #3c3c3c;
  font-family: Consolas, "Courier New", monospace;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  min-height: 300px;
  line-height: 1.5;
  margin: 10px 0;
  resize: none;
  overflow: auto;
  border-radius: 4px;
}

.valid-message {
  color: green;
  font-family: Consolas, "Courier New", monospace;
  font-size: 20px;
}

.textarea-invalid {
  border-color: #7B0D1E;
  box-shadow: 0 0 8px #7B0D1E;
}

.error-message {
  color: #ED1C24;
  font-family: Consolas, "Courier New", monospace;
  font-size: 20px;
  font: bold;
}
